{% extends 'base.html' %}

{% block content %}
    <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <div class="uk-navbar-item">
            <form class="uk-search uk-search-navbar">
                <span uk-search-icon></span>
                <input id="search" class="uk-search-input" type="search" placeholder="Умный поиск" autocomplete="off">
            </form>
        </div>

    </div>
</nav>
    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
        <tr>
            <th>ФИО ребенка</th>
            <th>День рождения ребенка</th>
            <th>Объединение - группа</th>
        </tr>
        </thead>
        <tbody id="results"></tbody>
    </table>
<script>
    const data = {{ children|safe }};
    const search = document.getElementById("search");
    const results = document.getElementById("results");
    let search_term = "";

    const showList = () => {
        results.innerHTML = "";
        data
            .filter((item) => {
                return (
                    item.child_name.toLowerCase().includes(search_term) ||
                    item.child_surname.toLowerCase().includes(search_term) ||
                    item.child_patronymic.toLowerCase().includes(search_term) ||
                    item.child_birthday.toLowerCase().includes(search_term) ||
                    (function c(courses) {for (var key in courses) {return `${key}`}})(item.courses).toLowerCase().includes(search_term)
                );
            })
            .forEach((e) => {
                const tr = document.createElement("tr");
                tr.innerHTML = `<td>${e.child_surname} ${e.child_name} ${e.child_patronymic}</td><td>${e.child_birthday}</td><td>${c(e.courses)}</td> `;
                results.appendChild(tr);
            });
    };

    function c(courses) {
        var result = [];
        for (var key in courses) {
            result.push(`${key} - Группа ${courses[key]}`)
        }
        return result.join('<br>')
    }

    showList();

    search.addEventListener("input", (event) => {
        search_term = event.target.value.toLowerCase();
        showList();
    });
</script>
{% endblock %}