{% extends 'base.html' %}

{% block content %}
    <nav class="uk-navbar-container uk-navbar-transparent uk-light uk-background-primary" uk-navbar>
        <div class="uk-navbar-right">
            <a href="/get_all" target="_blank"><div class="uk-button uk-button-primary">Выгрузить таблицу</div></a>
            <div class="uk-navbar-item">
                <form class="uk-search uk-search-navbar">
                    <span uk-search-icon></span>
                    <input id="search" class="uk-search-input" type="search" placeholder="Поиск"
                           autocomplete="off">
                </form>
            </div>
        </div>
    </nav>

    <!--Карточки курсов с меню----------------------------------------------->

    <div class="uk-container-large uk-margin-medium-left">
        <button class="uk-button uk-button-primary" type="button" uk-toggle="target: #offcanvas-nav">ФИЛЬТР</button>
    </div>
    <div uk-filter="target: .js-filter" class="uk-margin-small-top">

        <!--Меню----------------------------------------------->
        <div id="offcanvas-nav" uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
                <li class="uk-active" uk-filter-control><a href="#">ПОКАЗАТЬ ВСЕ</a></li>
            </ul>
            <span class="uk-nav-header">Выбрать площадку</span>
            <ul class="uk-subnav uk-subnav-pill">
                {% for area in areas %}
                <li uk-filter-control="filter: [data-area='{{ area }}']; group: data-area"><a
                        href="#">{{ area }}</a></li>
                {% endfor %}
            </ul>
            <span class="uk-nav-header">Выбрать направление</span>
            <ul uk-accordion="multiple: true">
                <li>
                    <a class="uk-accordion-title">Художественная направленность</a>
                    <div class="uk-accordion-content">
                        <ul class="uk-subnav uk-subnav-pill">
                        {% for direction in directions['Художественная'] %}
                        <li uk-filter-control="filter: [data-direction='{{ direction }}']; group: data-direction"><a
                                href="#">{{ direction }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title">Физкультурно-спортивная направленность</a>
                    <div class="uk-accordion-content">
                        <ul class="uk-subnav uk-subnav-pill">
                        {% for direction in directions['Физкультурно-спортивная'] %}
                        <li uk-filter-control="filter: [data-direction='{{ direction }}']; group: data-direction"><a
                                href="#">{{ direction }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title">Социально-гуманитарная направленность</a>
                    <div class="uk-accordion-content">
                        <ul class="uk-subnav uk-subnav-pill">
                        {% for direction in directions['Социально-гуманитарная'] %}
                        <li uk-filter-control="filter: [data-direction='{{ direction }}']; group: data-direction"><a
                                href="#">{{ direction }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title">Техническая направленность</a>
                    <div class="uk-accordion-content">
                        <ul class="uk-subnav uk-subnav-pill">
                        {% for direction in directions['Техническая'] %}
                        <li uk-filter-control="filter: [data-direction='{{ direction }}']; group: data-direction"><a
                                href="#">{{ direction }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title">Естественно-научная направленность</a>
                    <div class="uk-accordion-content">
                        <ul class="uk-subnav uk-subnav-pill">
                        {% for direction in directions['Естественно-научная'] %}
                        <li uk-filter-control="filter: [data-direction='{{ direction }}']; group: data-direction"><a
                                href="#">{{ direction }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
            <span class="uk-nav-header">Педагог</span>
            <ul class="uk-subnav uk-subnav-pill">
                {% for teacher in teachers %}
                <li uk-filter-control="filter: [data-teacher='{{ teacher }}']; group: data-teacher"><a href="#">{{ teacher }}
                    </a></li>
                {% endfor %}
            </ul>
            </div>
        </div>

        <!--Карточки курсов----------------------------------------------->
        <ul class="js-filter uk-child-width-1-3@m uk-text-center uk-grid-match" uk-grid="masonry: true">
            {% for course in courses %}
                {% if course.age_from and course.age_to %}
                    {% set ages = range(course.age_from, course.age_to + 1)|join(' ') %}
                {% endif %}
                <li class="courseCard" data-area="{{ course.area }}" data-direction="{{ course.direction }}" data-teacher="{{ course.teachers[0] }}">
                    <div class="uk-card uk-card-default uk-box-shadow-hover-small uk-border-rounded">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 id="courseName" class="uk-card-title uk-margin-remove-bottom">{{ course.name }}</h3>
                                    {% if course.free == false %}
                                        <span class="uk-label uk-label-warning">Обучение платное</span>
                                    {% endif %}
                                    {% if course.certificate %}
                                        <span class="uk-label">Обучение по сертификату</span>
                                    {% endif %}
                                    <p>{{ course.area }}</p>
                                    {% for teacher in course.teachers %}
                                        <p> {{ teacher }} </p>
                                    {% endfor %}
                                    <p class="uk-text-meta uk-margin-remove-top">
                                        С {{ course.age_from }} до {{ course.age_to }} лет
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-footer">
                            <p class="uk-text-center">Выбрать группу</p>
                            {% for group in course.groups %}
                                    <div class="uk-inline">
                                        {% if group.opened %}
                                        <a href="/admin/group/{{ group.id }}" target="_blank" class="uk-button uk-button-text uk-text-success">
                                            Группа {{ group.number }} - {{ group.schedule }}</a>
                                        {% else %}
                                        <a href="/admin/group/{{ group.id }}" target="_blank" class="uk-button uk-button-text uk-text-danger">
                                            Группа {{ group.number }} - {{ group.schedule }}</a>
                                        {% endif %}
                                    </div>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        let courses = Array.from(document.getElementsByClassName('courseCard'));
        const search_input = document.getElementById('search');
        let search_term = '';
        search_input.addEventListener('input', e => {
            search_term = e.target.value;
            showCourses();
        });
        console.log(courses[0]);
        const showCourses = async () => {
            courses.forEach(course => {course.setAttribute('hidden', true)});
            courses
                .filter(course =>
                    course.outerHTML.toLowerCase().includes(search_term.toLowerCase()))
                .forEach(course => {
                    course.removeAttribute('hidden');
                })
        }
    </script>

{% endblock %}