<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ДДТ Юность</title>
    <script src="{{ url_for('static', filename='js/uikit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit-rtl.css') }}">#}
</head>
<body>
<nav class="uk-navbar-container uk-margin-large-bottom" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a class="uk-navbar-item uk-logo" href="#"><img src="/static/img/logo.png" alt="None"> </a></li>
                <li>
                    <a class="uk-link-reset" href="#">Контакты:</a>
                </li>
            </ul>
        </div></div>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a class="uk-link-reset" href="#">83513527785</a></li>
                <li><a class="uk-link-reset" href="#">83513532265</a></li>
            </ul>
        </div></div>

    </div>
</nav>
<h1 class="uk-heading-line uk-text-center uk-margin-large-bottom"><span>{{ title }}</span></h1>
{% block content %}
{% endblock %}
</body>
</html>