{% extends 'base.html' %}

{% block content %}
    <div class="uk-container uk-container-small">
        <ul class="uk-accordion">
            <li>
                <a class="uk-accordion-title" href="#">Пр-т Макеева, 39</a>
                <div class="uk-accordion-content"></div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Пр-т Октября, 21</a>
                <div class="uk-accordion-content"></div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Ул. Ст. Разина, 4</a>
                <div class="uk-accordion-content"></div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Ул. 8-е марта, 147</a>
                <div class="uk-accordion-content"></div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">ул. Первомайская, 9</a>
                <div class="uk-accordion-content"></div>
            </li>
        </ul>
    </div>

{% endblock %}

