{% extends 'base.html' %}

{% block content %}
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">Показать все</a>
                </li>
                <li>
                    <a href="#">По площадке</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% for area in areas %}
                                <li><a href="#">{{ area }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">По направлению</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% for direction in directions %}
                                <li><a href="#">{{ direction }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">По возрасту</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% for age in range(3, 19) %}
                                <li><a href="#">{{ age }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <div class="uk-navbar-item">
                        <form action="javascript:void(0)">
                            <input class="uk-input uk-form-width-small" type="text">
                            <button class="uk-button uk-button-default">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: search"></span>
                                Искать
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {% for area in areas %}
        <h2 class="uk-heading-divider uk-text-center">{{ area }}</h2>
        <div class="uk-margin-medium uk-margin-medium-left">
            {% for direction in areas[area] %}
                <h4 class="uk-heading">{{ direction }}</h4>
                <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s" uk-grid>
                    {% for course in courses %}
                        {% if (course.area == area) and (course.direction == direction) %}
                            <div class="uk-card uk-card-default uk-width-1-4@m uk-box-shadow-hover-small uk-margin-auto">
                                <div class="uk-card-header">
                                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <h3 class="uk-card-title uk-margin-remove-bottom">{{ course.name }}</h3>
                                            <p>{{ course.teacher }}</p>
                                            <p class="uk-text-meta uk-margin-remove-top">
                                                С {{ course.age_from }} до {{ course.age_to }} лет
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-card-body">
                                    <p>{{ course.description }}</p>
                                </div>
                                <div class="uk-card-footer">
                                    <p class="uk-text-center">Выбрать группу</p>
                                    {% for group, schedule in course.schedule.items() %}
                                        <a href="#{{ course.name }}_{{ group }}" class="uk-button uk-button-text uk-text-primary" uk-toggle>
                                            {% for weekday, time in schedule.items() %}
                                                {{ weekday }} - {{ time }}
                                            {% endfor %}
                                        </a><br>
                                        <div id="{{ course.name }}_{{ group }}" uk-modal>
                                            <div class="uk-modal-dialog">
                                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                                <div class="uk-modal-header">
                                                    <h2 class="uk-modal-title">Modal Title</h2>
                                                </div>
                                                <div class="uk-modal-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                        sunt in culpa qui officia deserunt mollit anim id est
                                                        laborum.</p>
                                                </div>
                                                <div class="uk-modal-footer uk-text-right">
                                                    <button class="uk-button uk-button-default uk-modal-close"
                                                            type="button">Cancel
                                                    </button>
                                                    <button class="uk-button uk-button-primary" type="button">Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
